body {
    margin: 0;
}
.page__cell {
    /*height: 37.69;*/
    height: 37.69rem;
}
.Slider {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 47.065rem;
}
.image {
    width: 100%;
    height: 47.065rem;
    filter: brightness(30%);
}
.header {
    width: 75rem;
    padding: 0.3125rem;
    position: fixed;
    top: 0;
    left: calc(50% - 37.5rem);
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0 0 0.625rem 0.625rem;
    animation: header-animation 2s;
}
@keyframes header-animation {
    from {
        top: -3.6875rem;
    }
    to {
        top: 0;
    }
}
.aboutus {
    position: relative;
    z-index: 1;
    margin-top: 9.375rem;
}
h1 {
    max-width: 53.125rem;
    margin: auto;
    font-family: 'Century Gothic', sans-serif;
    color: gainsboro;
    font-size: 2.25rem;
}
h2 {
    font-family: 'Century Gothic', sans-serif;
    color: gainsboro;
    font-size: 1.1rem;
    text-align: center;
}
.about-doskort {
    max-width: 75rem;
    margin: auto;
    padding-top: 1.875rem;
}
.first-block {
    z-index: 1;
    position: relative;
    animation: left-animation 2s;
}
.second-block {
    z-index: 1;
    position: relative;
    animation: right-animation 2s;
}
@keyframes left-animation {
    0% {
        left: -9.375rem;
    }
    100% {
        left: 0;
    }
}
@keyframes right-animation {
    0% {
        right: -9.375rem;
    }
    100% {
        right: 0;
    }
}
p {
    font-family: 'Century Gothic', sans-serif;
    color: gainsboro;
    font-size: 1.5rem;
    margin: 0.625rem;
}
.header__logo {
    width: 3.75rem;
    border-right: 2px solid #ccc;
    float: left;
    margin: 0.3125rem 0.625rem 0.3125rem 0.625rem; 
}
.name {
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;
    padding-left: 0.9375rem;
    font-size: 2.75rem;
    color: black;
}
.signup {
    float: right;
    text-decoration: none;
    font-family: 'Century Gothic', sans-serif;
    color: black;
    font-size: 1.5rem;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
}
.down {
    z-index: 1;
    position: relative;
    margin: auto;
    margin-top: 3.5rem;
    width: 12.5rem;
}
.arrow {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.6rem;
    margin-top: 0.75rem;
}
.arrow-animation {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    margin: auto;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    position: relative;
    margin-top: 0.625rem;
    animation: bounce 2s infinite;  
}
@keyframes bounce {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -2.8125rem;
    }
    100% {
        bottom: 0;
    }
}
.page__dell {
    position: relative;
    background-color: #fafafa;
}
.window {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}
.frame {
    background-color: rgb(253, 253, 253);
    width: 650px;
    margin-top: 70px;
    margin-bottom: 40px;
}
.frame-header {
    height: 3.125rem;
    background-color: #fff;
    border: 1px solid rgb(209, 205, 205);
}
.photopost {
    width: 30.625rem;
    height: 100%;
}
.photo {
    width: 100%;
    height: auto;
}
.user-icon {
    vertical-align: top;
    position: sticky;
    top: 4.375rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.375rem;
    margin-right: 1.875;
    width: 32%;
    height: 41.875rem;
}
.user {
    background-color:#fff;
    padding: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    height: 12.5rem;
    border: 1px solid rgb(241, 235, 235);
}
.user-photo {
    min-width: 23%;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(209, 205, 205);
    background-size: cover;
}
.user-name {
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 10px;
    min-width: 76%;
    height: 100px;
    font-family: 'Century Gothic', sans-serif;
    color: black;
    font-size: 2rem;
}
.photo-counter, .followers-counter {
    text-align: center;
    vertical-align: middle;
    height: 60px;
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.photo-counter {
    width: 49%;
    border-right: 2px solid rgb(241, 235, 235);
}
.followers-counter {
    width: 50%;
}
h3 {
    margin: 0;
}
.footer {
    height: 55px;;
}
.block-1, .block-2 {
    vertical-align: bottom;
    margin-left: 1.2rem;
    font-family: 'Century Gothic', sans-serif;
    color: black;
}
.block-1 {
    font-size: 1.2rem;
}
.block-2 {
    font-size: 0.8rem;
}